html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
   
  }
  
  header {
    width: 100%;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    height: 10vh;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;  
    
  }
  
  .red {
    accent-color: red;  
  }
  .blue {
    accent-color: blue;
    
  }
  .green {
    accent-color: green;
  }

  #random{
    position: sticky;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 50px; 
    box-shadow: inset 0 0 10px #5f5c56

  }

  #random:active{
    box-shadow: none;
    border: none;
   
  }
  

  